<html>
  <head>
    <meta charset="utf-8">
    <title>Dustin LED Arch</title>
    <!-- <script src="pixi.min.js"></script> -->
    <style type="text/css">
          body {margin:0; padding:0;} /* remove top and left whitespace */
          canvas {display:block;}    /* remove scrollbars */
          canvas:focus {outline:0;} /* remove blue outline around canvas */
          .fs {position:fixed; bottom:20px; right:20px;}
    </style>
    <meta name="viewport"
    content="user-scalable=no,
            initial-scale=1,
            maximum-scale=1,
            minimum-scale=1,
            width=device-width">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  </head>
  <body>
    <!-- <div id="Canvas"></div> -->
    <!-- <script type="text/javascript" src="arch.js"></script>
    <script type="text/javascript" src="pixiapp.js"></script> -->




    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
        <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

    <!-- <p>Using mustaches: {{ rawHtml }}</p>
<p>Using v-html directive: <span v-html="rawHtml"></span></p> -->


    <script type="text/javascript" src="app.js"></script>

  </body>
</html>
