<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
      * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
      * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
      * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
          * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#2196f3">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <title>Welborn LED Arch</title>
  <link rel="icon" href="favicon.png">

  <link rel="stylesheet" href="libs/framework7/css/framework7.min.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/app.css">

  <style>
    .garden {
      position: relative;
      width : 200px;
      height: 200px;
      border: 5px solid #CCC;
      border-radius: 10px;
    }

    .ball {
      position: absolute;
      top   : 90px;
      left  : 90px;
      width : 20px;
      height: 20px;
      background: green;
      border-radius: 100%;
    }
  </style>
</head>
<body>
  <script src="/reload/reload.js"></script>
  <div id="app">
    <f7-app :params="f7params">
      <!-- Statusbar -->
      <f7-statusbar></f7-statusbar>
      <!-- Left Panel -->
      <f7-panel left reveal theme-dark>
        <f7-view id="left-panel-view">
          <f7-page>
            <f7-navbar title="Menu of Modes"></f7-navbar>
            <f7-block-title>Animation Modes</f7-block-title>
            <f7-block>
              <f7-list>
                <mode-switch title="Off" inital-state-name='off'></mode-switch>
                <mode-switch title="Rainbow" inital-state-name='rainbow'></mode-switch>
                <mode-switch title="Fade" inital-state-name='fade'></mode-switch>
                <mode-switch title="Pulse" inital-state-name='pulse'></mode-switch>
                <mode-switch title="Tilt" inital-state-name='tilt'></mode-switch>
              </f7-list>
            </f7-block>
            <f7-block-title>Coming?</f7-block-title>
            <f7-block>
              <f7-list>
                <button class="button col">Pong</button>
                <button class="button col">Draw on Arch</button>
                <button class="button col">Respond to Music</button>
                <button class="button col">Respond to Movie/Show</button>
                <button class="button col">Custom Animations</button>
              </f7-list>
            </f7-block>
          </f7-page>
        </f7-view>
      </f7-panel>


      <!-- Main View -->
      <f7-view id="main-view" main>
        <f7-page>
          <f7-navbar>
            <f7-nav-left>
              <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" panel-open="left"></f7-link>
            </f7-nav-left>
            <f7-nav-title>Welborn LED Arch</f7-nav-title>
          </f7-navbar>

          <f7-block>

              <template id="off-settings-template" v-if="currentState == 'off'">
                <f7-button round outline panel-open="left">Current Mode: Off</f7-button>
              </template>

              <template id="rainbow-settings-template" v-if="currentState == 'rainbow'">
                <f7-button round outline panel-open="left">Current Mode: Rainbow</f7-button>
                <speed-changer></speed-changer>
              </template>

              <template id="fade-settings-template" v-if="currentState == 'fade'">
                <f7-button round outline panel-open="left">Current Mode: Fade</f7-button>
                <speed-changer></speed-changer>
                <color-picker></color-picker>
              </template>

              <template id="pulse-settings-template" v-if="currentState == 'pulse'">
                <f7-button round outline panel-open="left">Current Mode: Pulse</f7-button>
                <speed-changer></speed-changer>
                <send-pulse></send-pulse>
              </template>

              <template id="tilt-settings-template" v-if="currentState == 'tilt'">
                <f7-button round outline panel-open="left">Current Mode: Tilt</f7-button>
                <!-- <speed-changer></speed-changer> -->
                <gyro-sensor></gyro-sensor>
              </template>

          </f7-block>

          <f7-list>
            <f7-list-item link="/about/" title="About"></f7-list-item>
          </f7-list>
        </f7-page>
      </f7-view>

      <!-- Popup -->
      <f7-popup id="popup">
        <f7-view>
          <f7-page>
            <f7-navbar title="Popup">
              <f7-nav-right>
                <f7-link popup-close>Close</f7-link>
              </f7-nav-right>
            </f7-navbar>
            <f7-block>
              Color-Picker
            </f7-block>
          </f7-page>
        </f7-view>
      </f7-popup>


    </f7-app> <!-- f7 app -->
  </div> <!-- ID vue app -->

  <!-- About Page Template -->
  <template id="page-about">
    <f7-page>
      <f7-navbar title="About" back-link="Back"></f7-navbar>
      <f7-block-title>Built by Dustin</f7-block-title>
      <f7-block strong>
        <!-- <p>You can go <f7-link back>back</f7-link>.</p> -->
        <p>
          <ul>
            <li>Built using Vue JS and Framework7 Front End</li>
            <li>Designed as a mobile webapp</li>
            <li>Backend is Node JS Running on a Raspberry Pi</li>
            <li>Controlls the Individualy Addressable RGB LEDs Running
            The length of The archway between The Dinning Room and The Living Room</li>
          </ul>
        </p>
      </f7-block>
    </f7-page>
  </template>


  <template id="mode-switch-template">
        <!-- <f7-segmented round round tag="p"> -->
           <f7-button round outline v-bind="{ active: isActive }" @click="toggle" panel-close>{{ title }}</f7-button>
         <!-- </f7-segmented> -->
  </template>


  <template id="speed-changer-template">
    <f7-block>
      <f7-row no-gap>
        <f7-col width="50">
          <f7-stepper fill small round color="orange"
            :value="speed"
            :min="minSpeed"
            :max="maxSpeed"
            :autorepeat="true"
            :input-readonly="true"
            :decimal-point="2"
            @stepper:minusclick="addSpeed(-0.01)"
            @stepper:plusclick="addSpeed(0.01)"
          ></f7-stepper>
        </f7-col>
        <f7-col width="50">
          <f7-stepper fill small round color="orange"
            :value="speed"
            :min="minSpeed"
            :max="maxSpeed"
            :autorepeat="true"
            :input-readonly="true"
            :decimal-point="2"
            @stepper:minusclick="addSpeed(-1)"
            @stepper:plusclick="addSpeed(1)"
          ></f7-stepper>
        </f7-col>
      </f7-row>
      <f7-row no-gap>
        <f7-col width="10">
          <f7-icon material="directions_run"></f7-icon>
        </f7-col>
        <f7-col width="90">
          <f7-range
           :min="minSpeed"
           :max="maxSpeed"
           :step="1"
           :value="speed"
           color="yellow"
           @range:changed="onSpeedChanged"
           ></f7-range>
        </f7-col>
        <!-- <f7-col width="5">
          <f7-chip :text="speed" color="yellow"></f7-chip>
        </f7-col> -->
    </f7-row>
   </f7-block>
  </template>


  <template id="color-picker-template">
    <f7-block>
      <f7-row v-for="row in colorsRows">
        <f7-col v-for="col in row">
          <f7-button small fill
            :style="'background-color:'+col"
            @click="removeColor(col)">
            Del {{col}}
          </f7-button>
        </f7-col>
      </f7-row>
      <f7-row no-gap>
        <f7-col width="10">
          <f7-icon material="color_lens"></f7-icon>
        </f7-col>
        <f7-col width="90">
          <f7-range
           :min="0"
           :max="255"
           :step="1"
           :value="100"
           color="red"
           @range:change="onRedChange"
          ></f7-range>
        </f7-col>
      </f7-row>
      <f7-row no-gap>
        <f7-col width="10">
          <f7-icon material="brush"></f7-icon>
        </f7-col>
      <f7-col width="90">
        <f7-range
         :min="0"
         :max="255"
         :step="1"
         :value="100"
         color="green"
         @range:change="onGreenChange"
         ></f7-range>
      </f7-col>
    </f7-row>
    <f7-row no-gap>
      <f7-col width="10">
        <f7-icon material="format_paint"></f7-icon>
      </f7-col>
    <f7-col width="90">
      <f7-range
       :min="0"
       :max="255"
       :step="1"
       :value="100"
       color="blue"
       @range:change="onBlueChange"
       ></f7-range>
    </f7-col>
    </f7-row>
    <f7-button big fill
      :style="'background-color:'+color"
      @click="addColor">
      Add Color {{color}}
    </f7-button>
   </f7-block>
  </template>


  <template id="gyro-template">
    <f7-block>
      <div class="garden">
        <div class="ball"></div>
      </div>
      <pre class="output"></pre>

   <f7-row no-gap>
     <f7-col width="10">
       <f7-icon material="color_lens"></f7-icon>
     </f7-col>
     <f7-col width="90">
       <f7-range
        :min="0"
        :max="255"
        :step="1"
        :value="100"
        color="red"
        @range:change="onRedChange"
       ></f7-range>
     </f7-col>
   </f7-row>
     <f7-row no-gap>
       <f7-col width="10">
         <f7-icon material="brush"></f7-icon>
       </f7-col>
     <f7-col width="90">
       <f7-range
        :min="0"
        :max="255"
        :step="1"
        :value="100"
        color="green"
        @range:change="onGreenChange"
        ></f7-range>
     </f7-col>
   </f7-row>
   <f7-row no-gap>
     <f7-col width="10">
       <f7-icon material="format_paint"></f7-icon>
     </f7-col>
   <f7-col width="90">
     <f7-range
      :min="0"
      :max="255"
      :step="1"
      :value="100"
      color="blue"
      @range:change="onBlueChange"
      ></f7-range>
   </f7-col>
   </f7-row>
  </f7-block>
  </template>

  <template id="pulse-template">
    <f7-block>
      <f7-row no-gap>
        <f7-col width="10">
          <f7-icon material="color_lens"></f7-icon>
        </f7-col>
        <f7-col width="90">
          <f7-range
           :min="0"
           :max="255"
           :step="1"
           :value="100"
           color="red"
           @range:change="onRedChange"
          ></f7-range>
        </f7-col>
      </f7-row>
      <f7-row no-gap>
        <f7-col width="10">
          <f7-icon material="brush"></f7-icon>
        </f7-col>
      <f7-col width="90">
        <f7-range
         :min="0"
         :max="255"
         :step="1"
         :value="100"
         color="green"
         @range:change="onGreenChange"
         ></f7-range>
      </f7-col>
    </f7-row>
    <f7-row no-gap>
      <f7-col width="10">
        <f7-icon material="format_paint"></f7-icon>
      </f7-col>
    <f7-col width="90">
      <f7-range
       :min="0"
       :max="255"
       :step="1"
       :value="100"
       color="blue"
       @range:change="onBlueChange"
       ></f7-range>
    </f7-col>
    </f7-row>
    <f7-row no-gap>
      <f7-col width="10">
        <f7-icon material="directions_run"></f7-icon>
      </f7-col>
      <f7-col width="90">
        <f7-range
         :min="minSpeed"
         :max="maxSpeed"
         :step="1"
         :value="speed"
         color="yellow"
         @range:changed="onSpeedChanged"
         ></f7-range>
      </f7-col>
  </f7-row>
    <f7-button big fill
      :style="'background-color:'+color"
      @click="sendPulse">
      Send Pulse {{color}} Speed:{{speed}}
    </f7-button>
   </f7-block>
  </template>

  <template id="pong-template">
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
    </canvas>
  </template>





  <!-- Cordova -->
  <!--<script src="cordova.js"></script>-->
  <!-- Framework7 library -->
  <script src="libs/framework7/js/framework7.min.js"></script>
  <!-- Vue -->
  <script src="libs/vue/vue.min.js"></script>
  <!-- Framework7-Vue plugin -->
  <script src="libs/framework7-vue/framework7-vue.min.js"></script>
  <!-- Socket IO client -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Your custom app scripts -->
  <script src="js/app.js"></script>
</body>
</html>
